.front-div {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  max-width: 700px;
  min-height: calc(100vh - 75px - 60px);
}

.button-div {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.left {
  margin: 0px;
  margin-right: auto;
  background-color: lightgrey;
  font-size: 14px;
  color: #303030;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  border-width: 0px;
  cursor: pointer;
  margin-left: -20px;
}

.right {
  margin: 0px;
  margin-left: auto;
  background-color: lightgrey;
  font-size: 14px;
  color: #303030;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  border-width: 0px;
  cursor: pointer;
  margin-right: -20px
}
